@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* ### Primary */

  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
  font-family: "Public Sans", sans-serif;
}
body {
  overflow-x: hidden;
}
section {
  padding: 10em 0;
}
h1 {
  font-size: 6rem;
  font-weight: 300;
}
h2 {
  font-size: 4rem;
  font-weight: 300;
}
h3 {
  font-size: 3rem;
  font-weight: 300;
}
h4 {
  font-size: 2rem;
  font-weight: 300;
}
h5 {
  font-size: 1rem;
  font-weight: 300;
  color: var(--Grayish-Blue);
}
p {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--Grayish-Blue);
  line-height: 1.5em;
}

/* header section */
header {
  background-color: var(--White);
  z-index: 999;
}
a {
  text-decoration: none;
  color: var(--Grayish-Blue);
}
a:hover {
  color: var(--Dark-Blue);
}
li {
  font-size: 2rem;
  font-weight: 300;
  list-style: none;
  margin: 0 0.5em;
  padding: 1.5em 0;
}
.nav-link {
  padding-bottom: 3rem;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all 0.2s ease-out;
}

.nav-link:hover {
  background-size: 100% 4px, auto;
  cursor: pointer;
}
button {
  font-size: 1.5rem;
  font-weight: 400;
  height: 3em;
  width: 12em;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  color: var(--White);
  border-radius: 4em;
}
button:hover {
  filter: opacity(0.5);
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: white;
  margin: 0 auto;
}

nav .menu-bar ul {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* hero section */
.hero-div {
  height: 720px;
  padding: 0 2rem;
  display: flex;
}
.hero-left {
  width: 70%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4em 0 0;
  gap: 2em;
}

.hero-right {
  width: 100%;
  position: relative;
}
.hero-bg-image,
.hero-mockup-image {
  position: absolute;
}
.hero-bg-image {
  margin-top: -180px;
}
.hero-mockup-image {
  margin-top: -50px;
  padding-left: 200px;
}

/* About section */
.about {
  background-color: var(--Very-Light-Gray);
}
.about-div-wrapper,
.about-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: left;
}
.about-top {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.about-bottom {
  display: flex;
  justify-content: space-between;
  gap: 6em;
}
.about-bottom img {
  width: 30%;
}
.about-div {
  gap: 4em;
  padding: 10em 0 0 0;
}

/* blogs sections */
.div-blogs-wrapper .top {
  margin: 4em 0;
}
.div-blogs-bottom {
  display: flex;
  justify-content: space-between;
  gap: 4em;
}
.div-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.div-article img {
  width: 100%;
  max-width: 350px;
  height: 250px;
  object-fit: cover;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  padding: 2em 3em;
}
.text-box p {
  font-size: 1.6rem;
}

/* footer section */
footer {
  background-color: var(--Dark-Blue);
  padding: 6em 0;
}
.div-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-left {
  display: flex;
  gap: 15em;
}
.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
}
.social-media-icons {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}
.links {
  display: flex;
}
.links li {
  font-size: 1.6rem;
  padding: 0.5em 0;
}
.links a {
  color: var(--White);
}
.links a:hover {
  color: var(--Lime-Green);
}

.footer-div-btn {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: flex-end;
}
.attribution {
  margin-top: 6em;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
